li {
    list-style: none;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* ------------------------------HEADER-------------------------- */

header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: #ffff;
    z-index: 1;
}
header::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0.1px;
    width: 95%;
    background-color: gray;
    z-index: -1;
}
header img {
    width: 150px;
    height: 150px;
}
/* HEAD LEFT */
.head_left {
    display: flex;
    align-items: center;
}
.list-icon {
    display: flex;
    list-style: none;
}

.head_left .list_orderegories {
    font-size: 27px;
    display: none;
}
.head_left ul li {
    padding: 10px;
}
.head_left ul li a:hover {
    color: rgb(172, 47, 51);
}
.head_left ul li a {
    text-decoration: none;
    color: black;
}
.list-item:hover .submenu {
    visibility: visible;
    top: 70px;
}
.submenu {
    position: absolute;
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 100px;
    transition: 0.01s ease-out;
}

/* HEAD RIGHT */
.head_right {
    position: relative;
    display: flex;
    align-items: center;
}
.head_right input {
    height: 40px;
    width: 230px;
    padding: 0 8px 0 30px;
}
.head_right .icon-search {
    position: absolute;
    left: 0;
    margin-left: 5px;
}
.head_right .icon ion-icon {
    font-size: 20px;
}
.head_right span a {
    text-decoration: none;
    color: black;
}
.input-search:focus {
    outline: none;
}
.head_right span {
    margin-left: 15px;
}

.head_right span a:hover {
    color: rgb(172, 47, 51);
}
.list-hide {
    display: none;
}
/* ----------------------------Container--------------------- */
.container {
    display: flex;
    flex-direction: column;
    height: auto;
}

/* ---------top-container------- */
.top-container {
    padding: 100px 0 25px 0;
}
.top-container ul {
    display: flex;
}
.top-container ul li {
    padding-right: 20px;
    padding-left: 20px;
}
.top-container ion-icon {
    margin-top: 5px;
}
.top-container li a:hover {
    color: rgb(172, 47, 51);
}

/* ----------center-container------------ */
.center-container {
    display: flex;
}
.purched {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: auto;
    margin-left: 30px;
}
.infor_purched {
    display: flex;
}
.address_ship {
    flex: 1;
}
.address_ship h3 {
    margin-bottom: 30px;
}
.address_ship ul li {
    margin-left: 30px;
}
.function_ship {
    flex: 1;
}
.function_ship h3 {
    margin-bottom: 30px;
}
.function_ship ul li {
    margin-left: 30px;
    margin-bottom: 30px;
}

.fix_purched {
    display: flex;
}
.fix_purched button {
    margin-left: 300px;
    color: white;
    font-size: 18px;
    background-color: #333;
    width: 150px;
    height: 40px;
}

.function_purched h3 {
    margin-bottom: 30px;
}
.function_purched ul li {
    margin-left: 30px;
    margin-bottom: 30px;
}

.bill_purched {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.bill {
    width: 90%;
    height: 450px;
    border: solid;
}
.infor_bill {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left: 50px;
}
.infor_bill h3 {
    margin-bottom: 20px;
}
.sale_shop {
    width: 300px;
    height: auto;
    margin-top: 30px;
    margin-left: 50px;
}

.sale_shop h3 {
    margin-bottom: 20px;
}
.sale_shop ul li {
    margin-bottom: 10px;
}
.sale_shop input {
    padding-left: 20px;
    width: 120px;
    height: 40px;
}
.sale_shop button {
    width: 100px;
    height: 40px;
    color: white;
    font-size: 14px;
    background-color: #333;
}
.sale_shop select {
    width: 224px;
    height: 40px;
}
.btn-order {
    width: 90%;
    height: 56px;
    margin-top: 26px;
    padding-top: 15px;
    background-color: #333;
}
.btn-order a h1 {
    color: #fff;
    font-size: 30px;
    text-align: center;
}
/* ---------------------------footer------------------ */
.footer {
    margin-top: 30px;
    height: 500px;
    width: 100%;
    background: #ffff;
    z-index: 1;
    border-top: 1px solid;
    /* border-bottom: 1px solid; */
    display: flex;
}
.footer-one {
    flex: 1;
    padding-top: 50px;
    margin-left: 50px;
}
.footer li {
    margin-top: 10px;
}
.footer-list-linked {
    display: flex;
}
.footer-list-linked li {
    padding-right: 50px;
}
.hotline {
    width: 250px;
    height: 50px;
    background-color: #333;
    border-radius: 15px 0 15px 0;
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.hotline h1 {
    margin-left: 12px;
    color: #fff;
    text-align: center;
}

.footer-two {
    flex: 1;
    padding-top: 50px;
    margin-left: 50px;
}
.footer-three {
    flex: 1;
    padding-top: 50px;
    margin-left: 50px;
}
.footer-four {
    flex: 1;
    padding-top: 50px;
    margin-left: 50px;
}
.support {
    width: 250px;
    height: 200px;
    background-color: #fff;
    border: 10px solid #e7e8e9;
    border-radius: 50px 0 50px 0;
    /* display: flex;
    flex-direction: column; */
}
.support h1 {
    margin-left: 10px;
    margin-top: 10px;
}
.input {
    margin-top: 20px;
    padding-left: 20px;
    width: 130px;
    height: 50px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}
.input:focus {
    outline: none;
}
.button {
    width: 70px;
    height: 50px;
    border-radius: 30px 0 30px 0;
    border-color: #e7e8e9;
    margin-left: -4px;
}
/* Thanh Navbar danh cho điện thoại  */
.navbar-phone {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    display: none;
}
.item-nav {
    flex: 1;
    width: auto;
    height: auto;
    margin: 0 5px;
}
.item-nav p {
    color: #333;
    text-align: center;
}

/* -------------------------Reponsive---------------- */

.moblie-list-icon {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-100%);
}
.nav-checkbox {
    display: none;
}
.close svg {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 1.2rem;
    right: 0.1rem;
}
.moblie-list-item {
    margin-top: 20px;
}

@media only screen and (max-width: 46.1875em) {
    .container {
        flex-direction: column;
    }
    .list-icon {
        display: none;
    }
    .pic-two {
        display: none;
    }
    .center-container {
        flex-direction: column;
    }
    .infor-product * {
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .head_right {
        display: none;
    }
    .head_left .list_orderegories {
        display: block;
    }
    .head_left .list_orderegories:active {
        background-color: red;
    }
    .head_center * {
        margin-right: 60px;
    }
    .footer {
        flex-direction: column;
    }
    .navbar-phone {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        padding: 4px 0 0;
        z-index: 999;
    }
    .item-nav p {
        font-size: 10px;
    }
    .footer-four ul {
        margin-bottom: 100px;
    }
    .nav-checkbox {
        display: none;
    }
    .nav-checkbox:checked ~ .moblie-list-icon {
        transform: translateX(0%);
    }
    .infor_customer .select_item {
        width: 250px;
    }
    .infor_customer textarea {
        width: 250px;
    }
}
