@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
    height: 90px;
    width: 100vw;
    border-bottom: 3px solid #dddd;
    text-align: center;
    padding-top: 30px;
}

.active {
    background-color: black;
}

/* ---------------INSERT TYPE ------------------*/
.admin-container {
    display: flex;
}

/* Container Right*/
.admin-container-right {
    padding: 30px;
    width: 80%;
    text-align: left;
    height: auto;
    margin: 100px 0 0 30px;
}

.admin-container-type-add input {
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 20px;
}
.admin-container-type-add button {
    display: block;
    margin: 20px 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: rgb(0, 140, 186);
    border: none;
    color: white;
    border-radius: 6px;
    transition: all 0.5s ease;
}
.admin-container-type-add button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(0, 140, 186);
}

/* -------------LIST TYPE ----------------*/

.admin-container-type-list table {
    width: 1000px;
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
}

.admin-container-type-list table tr th,
td {
    border: 1px solid #111010dd;
    height: 30px;
    padding: 0 5px;
}
.admin-container-type-list table tr th:last-child {
    width: 20%;
}
.admin-container-type-list table tr td a:hover {
    color: rgb(0, 140, 186);
}
.admin-container-type-list table tr td:last-child {
    cursor: pointer;
}
